[submodule "src/ModuCard-software-base"]
	path = src/ModuCard-software-base
	url = git@github.com:KoNarRobotics/ModuCard-software-base.git
[submodule "src/can_constants"]
	path = src/can_constants
	url = git@github.com:KoNarRobotics/can_constants.git
[submodule "src/StmEpic"]
	path = src/StmEpic
	url = git@github.com:X-Lemon-X/StmEpic.git
